<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>STC - Create Order</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">STC</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page">Create Order</a></li>
					<li class="nav-item"><a class="nav-link" href="/shipping">Shipping</a></li>
				</ul>
				<a class="btn btn-primary" href="/logout" role="button">Logout</a>
			</div>
		</div>
	</nav>

	<div class="container py-5">
		<h1 class="text-center">Silverspin Tech Challenge</h1>
	</div>

	<div class="container py-5">
		<div class="row">
			<div class="col-lg-6 mx-auto rounded border p-4">
				<h2 class="text-center mb-4">Create New Order</h2>
				<hr />

				<div th:if="${success}"
					class="alert alter-success alert-dismissible fade show"
					role="alert">
					<strong>Order Created Successfully</strong> <br /> <a
						class="btn btn-outline-primary" href="/home">Home</a>
					<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
				<form method="post" th:object="${orderDTO}">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">

					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Item Description*</label>
						<div class="col-sm-8">
							<select class="form-control" name="orderItemNumber">
								<option th:each="item : ${inventory}"
									th:value="${item.itemNumber}" th:text="${item.itemDescription}"></option>
							</select>
							<p th:if="${#fields.hasErrors('orderItemNumber')}"
								th:errorclass="text-danger"
								th:errors="${orderDTO.orderItemNumber}"></p>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-4 col-form-label">Item Quantity*</label>
						<div class="col-sm-8">
							<input class="form-control"
								th:field="${orderDTO.orderItemQuantity}">
							<p th:if="${#fields.hasErrors('orderItemQuantity')}"
								th:errorclass="text-danger"
								th:errors="${orderDTO.orderItemQuantity}"></p>
						</div>
					</div>


					<div class="row mb-3">
						<div class="offset-sm-4 col-sm-4 d-grid">
							<button type="submit" class="btn btn-primary">Submit</button>

						</div>
						<div class="col-sm-4 d-grid">
							<a href="/home" class="btn btn-outline-primary">Cancel</a>
						</div>

					</div>

				</form>
			</div>
		</div>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
		crossorigin="anonymous"></script>
</body>
</html>